[submodule "web"]
	path = web
	url = ./grader/web
[submodule "scripts"]
	path = scripts
	url = ./grader/scripts
[submodule "grader/web"]
	path = grader/web
	url = https://github.com/s6007589/cafe-grader-web.git
[submodule "grader/scripts"]
	path = grader/scripts
	url = https://github.com/s6007589/cafe-grader-judge-scripts.git
